* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
}

body {
    font-family: var(--mainFont);
}

.pageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}