$mainColor: #9057cd;
$titleColor: #402865;
$textColor: #5e443a;
$navLinkColor: #412966ad;
$whiteColor: #ffffff;
$blackColor: #000000;
$secondTextColor: #2b2b2b;
$mainBorderRadius: 8px;
$mainFont: "IBM Plex Sans Arabic", sans-serif;
