

.subTitle {
    content:attr(data-subTitle);
    display: block;
    max-width: 153px;
    margin : 0px auto 5px auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: $titleColor;
    @include devices(medium) {
        font-size: 14px;
        line-height: 22px;
    }
    [dir="ltr"] & {
        max-width: 100%;
        font-weight: 600;
    }
}

.sectionTitle {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;
    color: $titleColor;
    position: relative;
    &::before {
        @extend .subTitle;
    }
    @include devices(medium) {
        font-size: 28px;
        line-height: 36px;
    }
}