

.subTitle {
    content:attr(data-subTitle);
    display: block;
    max-width: 130px;
    margin : 0px auto 15px auto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: $titleColor;
}

.sectionTitle {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: $titleColor;
    position: relative;
    &::before {
        @extend .subTitle;
    }
}