* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

body {
  font-family: var(--mainFont);
  overflow-x: hidden;
}

.pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.active {
  font-weight: 500;
  font-size: 14px;
  color: #9057cd !important;
}

.centerLine {
  width: 100%;
  height: 1.5px;
  background-color: #E2E2E2;
}

.buttonCom, .btn.btn-outline-primary, .btn.btn-primary {
  border-radius: 8px;
  background-color: #9057cd;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  border-color: transparent;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .buttonCom, .btn.btn-outline-primary, .btn.btn-primary {
    width: 100%;
  }
}

.btn.btn-primary:hover {
  background-color: #402865;
}

.btn.btn-outline-primary {
  background-color: transparent;
  color: #9057cd;
  border-color: #9057cd;
}
.btn.btn-outline-primary:hover {
  background-color: #9057cd;
  color: #ffffff;
}

.subTitle, .sectionTitle::before {
  content: attr(data-subTitle);
  display: block;
  max-width: 153px;
  margin: 0px auto 5px auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #402865;
}
@media only screen and (max-width: 768px) {
  .subTitle, .sectionTitle::before {
    font-size: 14px;
    line-height: 22px;
  }
}
[dir=ltr] .subTitle, [dir=ltr] .sectionTitle::before {
  max-width: 100%;
  font-weight: 600;
}

.sectionTitle {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 52px;
  color: #402865;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .sectionTitle {
    font-size: 28px;
    line-height: 36px;
  }
}

.navbar {
  z-index: 10;
}
.navbar__logo--img {
  max-width: 140px;
}
.navbar__brand {
  all: unset;
  font-size: 16px;
  color: #9057cd;
  font-weight: 500;
  margin-inline-start: 10px;
}
@media only screen and (max-width: 992px) {
  .navbar__brand {
    display: none;
  }
}
.navbar__links .nav-link {
  color: rgba(65, 41, 102, 0.6784313725);
  font-size: 14px;
  font-weight: 500;
  transition: color 300ms ease-in-out;
}
.navbar__links .nav-link:hover {
  color: #9057cd;
}
.navbar__links #langSelect {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar__links #langSelect .lang-icon {
  max-width: 15px;
}
.navbar__links #langSelect .langName {
  color: #9057cd;
  font-size: 16px;
  font-weight: 400;
}
@media only screen and (max-width: 992px) {
  .navbar__links .navbar-nav {
    position: fixed;
    top: 0;
    inset-inline-start: -100%;
    transition: 300ms ease-in-out;
    width: 300px;
    height: 100vh;
    background-color: #F6F3FA;
    padding: 50px 20px;
  }
}
@media only screen and (max-width: 576px) {
  .navbar__links .navbar-nav {
    width: 70%;
  }
}
.navbar__links .navbar-nav.active {
  inset-inline-start: 0%;
}
@media only screen and (max-width: 992px) {
  .navbar .JoinToday {
    display: none;
  }
}
.navbar .toggleMenue {
  cursor: pointer;
  display: none;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .navbar .toggleMenue {
    display: block;
  }
}

.heroSection__content {
  width: 100%;
  height: 456px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #F6F3FA;
  padding: 0px 80px;
}
@media only screen and (max-width: 768px) {
  .heroSection__content {
    padding: 50px 15px 0px 15px;
  }
}
@media only screen and (max-width: 992px) {
  .heroSection__content {
    height: auto;
  }
}
.heroSection__content--img {
  height: 100%;
}
.heroSection__content--img img {
  display: block;
  max-width: 450px;
}
@media only screen and (max-width: 768px) {
  .heroSection__content--img img {
    max-width: 100%;
  }
}
.heroSection__content--title {
  font-size: 48px;
  color: #402865;
  font-weight: 600;
  max-width: 500px;
  line-height: 72px;
  position: relative;
}
.heroSection__content--title::before {
  content: "";
  display: block;
  margin-bottom: 20px;
  width: 48px;
  height: 4px;
  background-color: #9057cd;
}
@media only screen and (max-width: 768px) {
  .heroSection__content--title {
    font-size: 32px;
    text-align: center;
    max-width: 100%;
    line-height: 48px;
  }
  .heroSection__content--title::before {
    display: none;
  }
}
.heroSection__content--desc {
  font-size: 16px;
  font-weight: 400;
  color: #5e443a;
  line-height: 25px;
  max-width: 416px;
  padding-inline-end: 10px;
}
@media only screen and (max-width: 768px) {
  .heroSection__content--desc {
    line-height: 24px;
    max-width: 100%;
    text-align: center;
  }
}
.heroSection__content .row {
  height: 100%;
}

.employerBenefitsSection .sectionTitle {
  margin-bottom: 40px;
}
.employerBenefitsSection__item--icon {
  max-width: 58px;
  margin: auto;
}
@media only screen and (max-width: 576px) {
  .employerBenefitsSection__item--icon {
    max-width: 48px;
  }
}
.employerBenefitsSection__item--title {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
@media only screen and (max-width: 576px) {
  .employerBenefitsSection__item--title {
    font-size: 20px;
  }
}
.employerBenefitsSection__item--desc {
  font-weight: 400;
  font-size: 16px;
  color: #2b2b2b;
}
@media only screen and (max-width: 576px) {
  .employerBenefitsSection__item--desc {
    font-size: 20px;
  }
}
.employerBenefitsSection .watchMore {
  margin-top: 60px;
}

.howQsalaryWorkSection {
  background-color: #F6F3FA;
  padding: 100px 0px;
}
.howQsalaryWorkSection .sectionTitle {
  max-width: 635px;
}
.howQsalaryWorkSection__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.howQsalaryWorkSection__item--img {
  max-width: 247px;
}
.howQsalaryWorkSection__item--title {
  font-size: 24px;
  color: #000000;
  font-weight: 500;
}
@media only screen and (max-width: 576px) {
  .howQsalaryWorkSection__item--title {
    font-size: 20px;
    font-weight: 600;
  }
}
[dir=ltr] .howQsalaryWorkSection__item--title {
  max-width: 295px;
  margin: auto;
}
.howQsalaryWorkSection__item--desc {
  font-size: 16px;
  color: #2b2b2b;
  font-weight: 400;
  line-height: 25px;
  margin-top: 20px;
  max-width: 353px;
}
@media only screen and (max-width: 768px) {
  .howQsalaryWorkSection__item--desc {
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .howQsalaryWorkSection__item--desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
  }
}

.TakingYourEmployeesSection .sectionTitle {
  max-width: 400px;
}
.TakingYourEmployeesSection .row {
  margin: 50px 0px 50px 0px;
  row-gap: 20px;
}
.TakingYourEmployeesSection__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media only screen and (max-width: 576px) {
  .TakingYourEmployeesSection__item {
    gap: 0px;
  }
}
.TakingYourEmployeesSection__item--title {
  font-size: 64px;
  font-weight: 600;
  color: #351e15;
}
@media only screen and (max-width: 576px) {
  .TakingYourEmployeesSection__item--title {
    font-size: 40px;
  }
}
.TakingYourEmployeesSection__item--desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #2b2b2b;
  max-width: 300px;
  margin: auto;
}
@media only screen and (max-width: 576px) {
  .TakingYourEmployeesSection__item--desc {
    line-height: 28px;
    max-width: 100%;
  }
}

.employeeBenefitsSection .row {
  margin: 50px 0px;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
.employeeBenefitsSection__item {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.employeeBenefitsSection__item--img {
  max-width: 101px;
}
@media only screen and (max-width: 576px) {
  .employeeBenefitsSection__item--img {
    max-width: 52px;
  }
}
.employeeBenefitsSection__item--title {
  font-size: 24px;
  font-family: 500;
  color: #000000;
}
@media only screen and (max-width: 576px) {
  .employeeBenefitsSection__item--title {
    font-size: 25px;
    font-family: 600;
  }
}
.employeeBenefitsSection__item--desc {
  font-size: 16px;
  font-family: 400;
  line-height: 25px;
  color: #2b2b2b;
}
@media only screen and (max-width: 576px) {
  .employeeBenefitsSection__item--desc {
    font-size: 15px;
  }
}

.downloadAppPanner {
  margin-top: 100px;
}
@media only screen and (max-width: 768px) {
  .downloadAppPanner {
    margin-top: 0px;
  }
}
.downloadAppPanner__content {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  padding-inline: 100px 0px;
  padding-block: 0px 0px;
  background-color: #3D1E63;
}
@media only screen and (max-width: 992px) {
  .downloadAppPanner__content {
    height: auto;
    padding-inline: 15px 15px;
    padding-block: 20px 0px;
  }
}
@media only screen and (max-width: 576px) {
  .downloadAppPanner__content {
    padding-inline: 15px 15px;
    padding-block: 50px 0px;
  }
}
.downloadAppPanner__item img.imgPanner {
  display: block;
  max-width: 520px;
  margin-top: -111px;
}
@media only screen and (max-width: 992px) {
  .downloadAppPanner__item img.imgPanner {
    margin-top: 30px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .downloadAppPanner__item img.imgPanner {
    margin-top: 30px;
    max-width: 100%;
  }
}
.downloadAppPanner__item--title {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 10px;
}
.downloadAppPanner__item--subTitle {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
@media only screen and (max-width: 576px) {
  .downloadAppPanner__item--subTitle {
    font-size: 18px;
  }
}
.downloadAppPanner__item--dowenloadApp {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 35px;
}
.downloadAppPanner__item--dowenloadApp img {
  max-width: 195px;
}

.faqsSection {
  background-color: #F6F3FA;
  padding: 70px 0px;
}
.faqsSection__allFaqs {
  margin: 40px auto;
  max-width: 739.98px;
}
.faqsSection__allFaqs .accordion-item {
  background-color: transparent;
}
.faqsSection__allFaqs .accordion.accordion-flush {
  --bs-accordion-bg: transparent;
}
.faqsSection__allFaqs .accordion-button.collapsed::after {
  background: url("../../assets/icons/accordionIconOpen.svg") no-repeat;
  margin-inline-start: auto;
  margin-inline-end: 0px;
}
.faqsSection__allFaqs .accordion-button:not(.collapsed)::after {
  background: url("../../assets/icons/accordionIconOpen.svg") no-repeat;
  margin-inline-start: auto;
  margin-inline-end: 0px;
}
.faqsSection__allFaqs .accordion-body {
  -moz-text-align-last: start;
       text-align-last: start;
}
.faqsSection__allFaqs .accordion-button div {
  text-decoration: underline;
}

.ourSuccessPartnersSection__content .carouselExampleIndicators {
  width: 6px;
  height: 6px;
  background-color: #F6F3FA;
  border-radius: 50%;
}
.ourSuccessPartnersSection__content .carouselExampleIndicators.active {
  background-color: #9057cd;
}
.ourSuccessPartnersSection__content .carousel-control-next-icon {
  background: url("../../assets/icons/ButtonNextslide.svg") no-repeat;
}
.ourSuccessPartnersSection__content .carousel-control-prev-icon {
  background: url("../../assets/icons/ButtonPreviousslide.svg") no-repeat;
}
.ourSuccessPartnersSection__content .carousel-item img {
  max-width: 170px;
}

.startNowSection__content {
  background-color: #F6F3FA;
  border-radius: 20px;
  padding: 80px 0px;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .startNowSection__content {
    padding: 20px 0px;
  }
}
.startNowSection__content::after {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border: 5px solid #9057cd;
  border-radius: 50%;
}
.startNowSection__content .row {
  margin: 40px 0px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
}
.startNowSection__content .row .col {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
.startNowSection__content .row .col span {
  color: #243673;
  font-size: 16px;
  font-weight: 500;
}
.startNowSection__content .sectionTitle {
  max-width: 672px;
  font-size: 40px;
  line-height: 60px;
}
@media only screen and (max-width: 576px) {
  .startNowSection__content .sectionTitle {
    font-size: 22px;
    line-height: 35px;
  }
}

.followUsSection .sectionTitle {
  margin: 0px;
  text-align: justify;
}
.followUsSection .sectionTitle::before {
  text-align: justify;
  max-width: 100%;
}
.followUsSection__sendEmail {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 525px;
  gap: 15px;
}
@media only screen and (max-width: 768px) {
  .followUsSection__sendEmail {
    flex-wrap: wrap;
  }
}
.followUsSection__sendEmail input {
  min-height: 48px;
  background-color: #FAFAFA;
}
.followUsSection__sosialIcons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 75px;
       column-gap: 75px;
  row-gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 576px) {
  .followUsSection__sosialIcons {
    justify-content: center;
  }
}
.followUsSection__sosialIcons img {
  max-width: 30px;
}
.followUsSection .col:nth-child(2) .sectionTitle {
  margin: auto;
}
@media only screen and (max-width: 576px) {
  .followUsSection .col:nth-child(2) .sectionTitle {
    margin: 0px;
  }
}/*# sourceMappingURL=home.css.map */